#pwho {
	color: #404242;
    border-right: 10px solid #3D05FC;
	border-radius: 20px;
	box-shadow: 6px 6px 6px darkgrey;
	background-color: #FFFFFF;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}
#pwhy {
	color: #404242;
    border-right: 10px solid #3D05FC;
	border-radius: 20px;
	box-shadow: 6px 6px 6px darkgrey;
	background-color: #FFFFFF;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}

#shadow {
	box-shadow:  0px 10px 10px rgba(0,0,0,0.12), 0px 10px 10px rgba(0,0,0,0.24);
}
#navshadow {
	box-shadow:  0px 2px 2px 2px rgba(0,0,0,0.24), 0px 4px 4px 4px rgba(0,0,0,0.12);
}
