#pwho {
	color: #404242;
    border-right: 10px solid #3D05FC;
	border-radius: 20px;
	box-shadow: 6px 6px 6px darkgrey;
	background-color: #FFFFFF;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}
#pwhy {
	color: #404242;
    border-right: 10px solid #3D05FC;
	border-radius: 20px;
	box-shadow: 6px 6px 6px darkgrey;
	background-color: #FFFFFF;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}