#pwho {
	color: #404242;
    border-right: 10px solid #0667CE;
	border-radius: 20px;
	box-shadow: 6px 6px 6px darkgrey;
	background-color: #FFFFFF;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}
#pwhy {
	color: #404242;
    border-right: 10px solid #0667CE;
	border-radius: 20px;
	box-shadow: 6px 6px 6px darkgrey;
	background-color: #FFFFFF;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}
#pst {
	color: #404242;
	font-size: large;
	font-weight: 900; 
	text-shadow: 8px 8px 8px darkgrey;
   /* border-bottom: 10px solid #0667CE;
*/	border-radius: 20px;
	box-shadow: 6px 6px 6px darkgrey;
	background-color: #FFFFFF;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}
#pc {
	color: green;
	font-size: large;
	font-weight: normal; 
	text-shadow: 1px 1px 1px darkgrey;
   /* border-bottom: 10px solid #0667CE;
*/	border-radius: 20px;
	box-shadow: 6px 6px 6px darkgrey;
	background-color: #FFFFFF;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}
#shadow {
	box-shadow:  0px 10px 10px rgba(0,0,0,0.12), 0px 10px 10px rgba(0,0,0,0.24);
}
#navshadow {
	box-shadow:  0px 2px 2px 2px rgba(0,0,0,0.24), 0px 4px 4px 4px rgba(0,0,0,0.12);
}

.button {
  display: inline-block;
  border-radius: 6px;
  background-color: #4CAF50; /* Green */
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  /*box-shadow: 6px 6px 6px darkgrey;*/
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
